---
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Newletter from "../components/Newletter.astro";
import "../styles/global.css";

// Team photos

import peoplecover from "../assets/IOER Conference Group Photo 2.jpg";
import Rajnish from "../assets/Rajnish-Kumarv.png";
import satyaseshadri from "../assets/Satyanarayanan Seshadri 4.jpg";
import charutaphoto from "../assets/resource (2) 1.svg";
import rahulphoto from "../assets/resource (1) 1.svg";
import sivaphoto from "../assets/resource 1.svg";
import vishakha from "../assets/resource (4) 1.svg";
import iswatha from "../assets/iswatha.jpg";
import jennifer from "../assets/Dolly Sweetlin Jennifer Compressed.jpg";

// Social icons
import webglobe from "../assets/web logo.svg";
import linkedin from "../assets/LinkedIn.svg";

// Associate faculty photos
import associatefac0 from "../assets/AssociateFaculty/Arunachalam_N.webp";
import associatefac1 from "../assets/AssociateFaculty/1 Compressed.jpg";
import associatefac2 from "../assets/AssociateFaculty/2 Compressed.jpg";
import associatefac3 from "../assets/AssociateFaculty/3.svg";
import associatefac4 from "../assets/AssociateFaculty/4.svg";
import associatefac5 from "../assets/AssociateFaculty/5.svg";
import associatefac6 from "../assets/AssociateFaculty/6.svg";
import associatefac32 from "../assets/AssociateFaculty/Chandan Sarangi.png";
import associatefac7 from "../assets/AssociateFaculty/Ethayaraja Mani Compressed.jpg";
import associatefac33 from "../assets/AssociateFaculty/Guhan Jayaraman.png";
import associatefac8 from "../assets/AssociateFaculty/7.svg";
import associatefac9 from "../assets/AssociateFaculty/himanshu.png";
import associatefac10 from "../assets/AssociateFaculty/8.svg";
import associatefac11 from "../assets/AssociateFaculty/Jitendra Sangwai Compressed.jpg";
import associatefac12 from "../assets/AssociateFaculty/Krishna Malakar.jpg";
import associatefac13 from "../assets/AssociateFaculty/Krishna Vasudevan Compressed.jpg";
import associatefac14 from "../assets/AssociateFaculty/Mohanakrishnan.jpg";
import associatefac15 from "../assets/AssociateFaculty/rao-pp.jpg";
import associatefac16 from "../assets/AssociateFaculty/Nitin Muralidharan Compressed.jpg";
import associatefac17 from "../assets/AssociateFaculty/Preeti Aghalayam resized.jpg";
import associatefac18 from "../assets/AssociateFaculty/Ravi Kumar N Compressed.jpg";
import associatefac19 from "../assets/AssociateFaculty/Ravindra Gettu Compressed.jpg";
import associatefac20 from "../assets/AssociateFaculty/Sachin Gunthe Compressed.jpg";
import associatefac21 from "../assets/AssociateFaculty/Sankha Karmakar.jpg";
import associatefac22 from "../assets/AssociateFaculty/Santosh Kumar Sahu.jpg";
import associatefac23 from "../assets/AssociateFaculty/Sivakumar Palaniappan.jpg";
import associatefac24 from "../assets/AssociateFaculty/Smita Srivastava.jpg";
import associatefac25 from "../assets/AssociateFaculty/sreeram k k.jpg";
import associatefac26 from "../assets/AssociateFaculty/Sriram VenkatachalamCompressed.jpg";
import associatefac27 from "../assets/AssociateFaculty/Swathi sudakar.jpg";
import associatefac28 from "../assets/AssociateFaculty/Tiju Thomas.jpg";
import associatefac29 from "../assets/AssociateFaculty/Venkatarathnam G Compressed.jpg";
import associatefac30 from "../assets/AssociateFaculty/Venkatraman Srinivasan Compressed.jpg";
import associatefac31 from "../assets/AssociateFaculty/Vinu R Compressed.jpg";
import associatefac34 from "../assets/AssociateFaculty/Murali Jagannathan.png";
import associatefac35 from "../assets/AssociateFaculty/Nirav Patel.png";
import associatefac36 from "../assets/AssociateFaculty/Rahul Marathe.png";
import associatefac37 from "../assets/AssociateFaculty/Raja.png";
import associatefac38 from "../assets/AssociateFaculty/Rohit Batra.png";
import associatefac39 from "../assets/AssociateFaculty/Shiva Nagendra.jpg";

// Affiliate faculty photos
import affac0 from "../assets/0AA.jpg";
import afffac1 from "../assets/A.svg";
import afffac2 from "../assets/B.svg";
import afffac3 from "../assets/C.svg";
import afffac4 from "../assets/D.svg";
import afffac5 from "../assets/E.svg";
import afffac6 from "../assets/F.svg";
import afffac7 from "../assets/G.svg";
import afffac8 from "../assets/Parthiban.jpg";
import afffac9 from "../assets/H.svg";

// Advisor photos
import advisor5 from "../assets/05.svg";
import advisor1 from "../assets/01.svg";
import advisor2 from "../assets/02.svg";
import advisor3 from "../assets/03.svg";
import advisor4 from "../assets/04.svg";

// Team data structure for better maintainability

const coreTeam = [
  {
    name: "Rajnish Kumar",
    position: "Head, School of Sustainability",
    image: Rajnish,
    website: "https://che.iitm.ac.in/rajnish/",
    email: "rajnish@iitm.ac.in",
    icon: webglobe,
    highlight: true,
  },
  {
    name: "Satyanarayanan Seshadri",
    position: "Associate Head, School of Sustainability",
    image: satyaseshadri,
    website: "https://energyconsortium.org/member/satyanarayanan-seshadri/",
    email: "satya@iitm.ac.in",
    icon: webglobe,
    highlight: true,
  },
  {
    name: "Charuta Kulkarni",
    position: "Team Member",
    image: charutaphoto,
    email: "ckulkarni@gradcenter.cuny.edu",
    linkedin: "https://www.linkedin.com/in/charuta-kulkarni-ph-d-61749b1a/",
    icon: linkedin,
    highlight: false,
  },
   {
    name: "Dolly Sweetlin Jennifer",
    position: "Senior Project Scientist, School of Sustainability",
    image: jennifer,
    email: "ic39384@imail.iitm.ac.in",
    linkedin: "https://www.linkedin.com/in/dolly-sweetlin-jennifer-035311189",
    icon: linkedin,
    highlight: false,
  },
  {
    name: "Iswatha Raju",
    position: "Team Member",
    image: iswatha,
    email: "ic36486@imail.iitm.ac.in",
    highlight: false,
  },
  {
    name: "Rahul Muralidharan",
    position: "Research & Development Specialist, Energy Consortium, IITM",
    image: rahulphoto,
    email: "rd_ec@icsrpis.iitm.ac.in",
    linkedin: "https://in.linkedin.com/in/rahul-muralidharan-70629418a",
    icon: linkedin,
    highlight: false,
  },
  {
    name: "Siva Barathi A",
    position: "Team Member",
    image: sivaphoto,
    email: "ic39984@imail.iitm.ac.in",
    linkedin: "https://www.linkedin.com/in/siva-barathi-annamalai-24959616",
    icon: linkedin,
    highlight: false,
  },
  {
    name: "Vishakha Shankar",
    position: "Team Member",
    image: vishakha,
    email: "ic10964@imail.iitm.ac.in",
    linkedin: "https://www.linkedin.com/in/vishakhashankar/",
    icon: linkedin,
    highlight: false,
  },
  
 
  
  // {
  //   name: "Siva Barathi A",
  //   position: "Associate Head, School of Sustainability",
  //   image: sivaphoto,
  //   website: "",
  // },
];

const associateFaculty = [
  {
    image: associatefac0,
    name: "Anubhab Roy",
    position: "Applied Mechanics",
    website: "https://home.iitm.ac.in/anubhab",
    loading: "lazy",
  },

  {
    image: associatefac1,
    name: "Anubhab Roy",
    position: "Applied Mechanics",
    website: "https://home.iitm.ac.in/anubhab",
    loading: "lazy",
  },
  {
    image: associatefac2,
    name: "Aravind Kumar Chandiran",
    position: "Chemical Engineering",
    website: "https://che.iitm.ac.in/aravindkumar/",
    loading: "lazy",
  },
  {
    image: associatefac3,
    name: "Ashwin Mahalingam",
    position: "Department of Mathematics",
    website: "https://civil.iitm.ac.in/faculty/mash/",
    loading: "lazy",
  },
  {
    image: associatefac4,
    name: "Balaji Narasimhan",
    position: "Civil Engineering",
    website: "https://civil.iitm.ac.in/faculty/nbalaji/",
    loading: "lazy",
  },
  {
    image: associatefac5,
    name: "Balaraman Ravindran",
    position: "Computer Science and Engineering",
    website: "http://www.cse.iitm.ac.in/~ravi/",
    loading: "lazy",
  },
  {
    image: associatefac6,
    name: "Chakravarthy Balaji",
    position: "Department of Biology",
    website: "https://home.iitm.ac.in/balaji",
    loading: "lazy",
  },
  {
    image: associatefac32,
    name: "Chandan Sarangi",
    position: "Civil Engineering",
    website: "https://civil.iitm.ac.in/faculty/chandansarangi/",
    loading: "lazy",
  },
  {
    image: associatefac7,
    name: "Ethayaraja Mani",
    position: "Department of Chemical Engineering",
    website: "https://che.iitm.ac.in/~ethaya/",
    loading: "lazy",
  },
  
  {
    image: associatefac8,
    name: "Ganga Prasath S",
    position: "Applied Mechanics",
    website: "http://sgangaprasath.github.io/",
    loading: "lazy",
  },
  {
    image: associatefac33,
    name: "Guhan Jayaraman",
    position: "Biotechnology",
    website: "https://biotech.iitm.ac.in/innerfaculty.php?fname=Guhan%20Jayaraman",
    loading: "lazy",
  },
  {
    image: associatefac9,
    name: "Himanshu Goyal",
    position: "Department of Chemical Engineering",
    website: "https://www.goyalresearch.com/",
    loading: "lazy",
  },
  
  {
    image: associatefac10,
    name: "Indumathi M. Nambi",
    position: "Department of Civil Engineering",
    website: "https://indunambi.com/",
    loading: "lazy",
  },
  {
    image: associatefac11,
    name: "Jitendra Sangwai",
    position: "Department of Chemical Engineering",
    website: "https://che.iitm.ac.in/jitendrasangwai/",
    loading: "lazy",
  },
  {
    image: associatefac12,
    name: "Krishna Malakar",
    position: "Humanities and Social Sciences",
    website: "https://hss.iitm.ac.in/krishna-malakar/",
    loading: "lazy",
  },
  {
    image: associatefac13,
    name: "Krishna Vasudevan",
    position: "Department of Electrical Engineering",
    website: "https://sites.google.com/a/ee.iitm.ac.in/krishna-vasudevan/",
    loading: "lazy",
  },
  {
    image: associatefac14,
    name: "Mohanakrishnan Logan",
    position: "Department of Civil Engineering",
    website: "https://civil.iitm.ac.in/faculty/mohanlogan/",
    loading: "lazy",
  },
  {
    image: associatefac34,
    name: "Murali Jagannathan",
    position: "Civil Engineerin",
    website: "https://civil.iitm.ac.in/faculty/muralij/",
    loading: "lazy",
  },
  {
    image: associatefac15,
    name: "Nagabhushana Rao Vadlamani",
    position: "Department of Aerospace Engineering",
    website: "https://home.iitm.ac.in/nrv/",
    loading: "lazy",
  },
  {
    image: associatefac35,
    name: "Nirav Patel",
    position: "Engineering Design",
    website: "https://ed.iitm.ac.in/~nirav",
    loading: "lazy",
  },
  {
    image: associatefac16,
    name: "Nitin Muralidharan",
    position: "Department of Chemical Engineering",
    website: "https://sites.google.com/view/emergegroup",
    loading: "lazy",
  },
  {
    image: associatefac17,
    name: "Preeti Aghalayam",
    position: "Department of Chemical Engineering",
    website: "https://che.iitm.ac.in/preeti/",
    loading: "lazy",
  },
   {
    image: associatefac36,
    name: "Rahul Marathe R",
    position: "Management Studies",
    website: "https://doms.iitm.ac.in/index.php/rrm",
    loading: "lazy",
  },
  {
    image: associatefac37,
    name: "Rajagopalan Srinivasan",
    position: "Chemical Engineering",
    website: "https://che.iitm.ac.in/faculty.php?fname=Dr.%20Rajagopalan%20Srinivasan",
    loading: "lazy",
  },
  {
    image: associatefac18,
    name: "Ravi Kumar N V",
    position: "Metallurgical and Materials Engineering",
    website: "https://mme.iitm.ac.in/nvrk",
    loading: "lazy",
  },
  {
    image: associatefac19,
    name: "Dr. Ravindra Gettu",
    position: "Department of Civil Engineering",
    website: "https://civil.iitm.ac.in/faculty/gettu/",
    loading: "lazy",
  },
  {
    image: associatefac38,
    name: "Rohit Batra",
    position: "Metallurgical and Materials Engineering",
    website: "https://mme.iitm.ac.in/faculty-inner.php?id=65&fc=1",
    loading: "lazy",
  },
  {
    image: associatefac20,
    name: "Sachin Gunthe",
    position: "Department of Civil Engineering",
    website: "https://civil.iitm.ac.in/faculty/sgunthe/",
    loading: "lazy",
  },
  {
    image: associatefac21,
    name: "Dr. Sankha Karmakar",
    position: "Department ofChemical Engineering",
    website: "https://che.iitm.ac.in/skarmakar/",
    loading: "lazy",
  },
  {
    image: associatefac22,
    name: "Santosh Kumar Sahu",
    position: "Humanities and Social Sciences",
    website: "https://sites.google.com/view/sksahuiitm/home",
    loading: "lazy",
  },
   {
    image: associatefac39,
    name: "Shiva Nagendra SM",
    position: "Civil Engineering",
    website: "https://civil.iitm.ac.in/faculty/snagendra/ ",
    loading: "lazy",
  },
  {
    image: associatefac23,
    name: "Dr. Sivakumar Palaniappan",
    position: "Department of Civil Engineering",
    website: "https://civil.iitm.ac.in/faculty/sp/",
    loading: "lazy",
  },
  {
    image: associatefac24,
    name: "Smita Srivastava",
    position: "Department of Biotechnology",
    website: "https://biotech.iitm.ac.in/biotech/faculty/smita_web/index.html",
    loading: "lazy",
  },
  {
    image: associatefac25,
    name: "Sreeram K. Kalpathy",
    position: "Metallurgical and Materials Engineering",
    website: "https://sreeramkris.wixsite.com/sreeram",
    loading: "lazy",
  },
  {
    image: associatefac26,
    name: "Sriram Venkatachalam",
    position: "Department of Ocean Engineering",
    website: "https://home.iitm.ac.in/vsriram/",
    loading: "lazy",
  },
  {
    image: associatefac27,
    name: "Swathi Sudhakar",
    position: "Applied Mechanics and Biomedical Engineering",
    website:
      "https://sites.google.com/smail.iitm.ac.in/nanomolecularlabiitm/home",
    loading: "lazy",
  },
  {
    image: associatefac28,
    name: "Tiju Thomas",
    position: "Metallurgical and Materials Engineering",
    website: "https://mme.iitm.ac.in/tijuthomas/",
    loading: "lazy",
  },
  {
    image: associatefac29,
    name: "Venkatarathnam G",
    position: "Department of Mechanical Engineering",
    website: "https://mech.iitm.ac.in/profile.php?fname=gvenkat",
    loading: "lazy",
  },
  {
    image: associatefac30,
    name: "Venkatraman Srinivasan",
    position: "Department of Civil Engineering",
    website: "https://home.iitm.ac.in/venkatraman/team.htm",
    loading: "lazy",
  },
  {
    image: associatefac31,
    name: "Vinu R",
    position: "Department of Chemical Engineering",
    website: "https://che.iitm.ac.in/vinu/",
    linkedin: "",
    loading: "lazy",
  },
];

const affiliateFellows = [
  {
    image: affac0,
    name: "Ajay Shriram Patil",
    position: "Associate Member",
    website:
      "https://www.linkedin.com/in/ajay-patil-375aa69/?originalSubdomain=in",
    email: "ajay.shriram.patil@gmail.com",
    loading: "lazy",
  },
  {
    image: afffac1,
    name: "Anuradda Ganesh",
    position: "Research Fellow",
    website:
      "https://www.linkedin.com/in/anuradda-ganesh-fellow-inae-8b535064/",
    loading: "lazy",
  },
  {
    image: afffac2,
    name: "Christoph Woiwode",
    position: "Senior Fellow",
    website: "https://www.ioer.de/en/institute/staff/woiwode",
    loading: "lazy",
  },
  {
    image: afffac3,
    name: "E. Nandakumar",
    position: "Visiting Fellow",
    website: "https://www.linkedin.com/in/e-nandakumar/",
    loading: "lazy",
  },
  {
    image: afffac4,
    name: "Kaushal Kumar Jha",
    position: "Research Associate",
    website: "https://www.linkedin.com/in/dr-kaushal-jha/",
    loading: "lazy",
  },
  {
    image: afffac5,
    name: "Madhavan Nampoothiri",
    position: "Post-doc Fellow",
    website: "https://energyconsortium.org",
    loading: "lazy",
  },
  {
    image: afffac6,
    name: "Nikhil Tambe",
    position: "Senior Researcher",
    website: "https://www.linkedin.com/in/nikhil-tambe-61b7b47/",
    loading: "lazy",
  },
  {
    image: afffac7,
    name: "Parama Roy",
    position: "Research Scientist",
    website: "https://www.okapia.co/about-okapi-research-advisory/",
    loading: "lazy",
  },
  {
    image: afffac8,
    name: "Parthiban V",
    position: "Deputy Chief Manager",
    website: "https://www.linkedin.com/in/parthiban-v-73173026/",
    loading: "lazy",
  },
  {
    image: afffac9,
    name: "Raghuttama Rao",
    position: "Principal Investigator",
    website: "https://gdciitm.org/teams/r-raghuttama-rao/",
    loading: "lazy",
  },
];

const advisors = [
  {
    image: advisor1,
    name: "Ligy Philip",
    position: "Civil Engineering",
    email: "pradeep@iitm.ac.in",
    website: "https://civil.iitm.ac.in/faculty/ligy/",
    loading: "lazy",
  },
  {
    image: advisor2,
    name: "Mahesh Panchagnula",
    position: "Applied Mechanics",
    website: "https://home.iitm.ac.in/mvp/",
    loading: "lazy",
  },
  {
    image: advisor3,
    name: "Muraleedharan VR",
    position: "Humanities and Social Sciences",
    website: "https://hss.iitm.ac.in/muraleedharan-vr/",
    loading: "lazy",
  },
  {
    image: advisor4,
    name: "Raghunathan Rengaswamy",
    position: "Advisor",
    website: "https://rbcdsai.iitm.ac.in/people/raghunathan-rengaswamy/",
    loading: "lazy",
  },
  {
    image: advisor5,
    name: "Thalappil Pradeep",
    position: "Chemistry",
    email: "ligy@iitm.ac.in",
    website: "https://www.chem.iitm.ac.in/faculty/pradeep/",
    loading: "lazy",
  },
];
---

<!-- <Navbar /> -->
<Layout title="School of Sustainability">
  <main class="min-h-screen scroll-smooth">
    <!-- Hero Section -->
    <section class="relative">
      <img
        src={peoplecover.src}
        alt="Team photo"
        class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] object-cover"
      />
      <div
        class="absolute inset-0 bg-black/40 flex items-center justify-center"
      >
        <h1
          class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-white font-bold text-center px-4"
        >
          Our Team
        </h1>
      </div>
    </section>

    <!-- Navigation Menu -->
    <section
      class="py-4 sm:py-6 md:py-8 border-b border-gray-200 sticky top-0 z-10 backdrop-blur-sm bg-white/80"
    >
      <div class="container mx-auto px-4">
        <nav
          class="flex flex-wrap justify-center items-center gap-2 sm:gap-4 md:gap-6 text-green-600 font-medium text-base"
          aria-label="Team sections navigation"
        >
          <a
            href="#core-team"
            class="hover:text-green-800 active:text-green-900 transition-all duration-300 px-3 py-2 rounded-lg hover:bg-green-50 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transform hover:scale-105"
          >
            Core Team
          </a>
          <span class="text-gray-300">|</span>
          <a
            href="#associate-faculty"
            class="hover:text-green-800 active:text-green-900 transition-all duration-300 px-3 py-2 rounded-lg hover:bg-green-50 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transform hover:scale-105"
          >
            Associate Faculty
          </a>
          <span class="text-gray-300">|</span>
          <a
            href="#affiliate-fellows"
            class="hover:text-green-800 active:text-green-900 transition-all duration-300 px-3 py-2 rounded-lg hover:bg-green-50 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transform hover:scale-105"
          >
            Affiliate Fellows
          </a>
          <span class="text-gray-300">|</span>
          <a
            href="#advisors"
            class="hover:text-green-800 active:text-green-900 transition-all duration-300 px-3 py-2 rounded-lg hover:bg-green-50 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transform hover:scale-105"
          >
            Advisors
          </a>
        </nav>
      </div>
    </section>

    <!-- Leadership Team Section -->
    <section class="py-12 sm:py-16 md:py-20">
      <!-- Core Team Section -->
      <section id="core-team" class="py-12 sm:py-16 md:py-20 bg-gray-50">
        <div class="container mx-auto px-4">
          <h3 class="text-3xl sm:text-4xl font-bold mb-12 text-gray-900">
            Core Team
          </h3>
          <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6 sm:gap-8"
          >
            {
              coreTeam.map((member) => (
                <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
                  <div class="relative">
                    <img
                      src={member.image ? member.image.src : ""}
                      alt={member.name}
                      class="w-full h-48 object-cover"
                    />

                    <div class="absolute bottom-4 right-4 flex gap-2">
                      {member.website && (
                        <a
                          href={member.website}
                          target="_blank"
                          rel="noopener noreferrer"
                          class="bg-white p-2 rounded-full shadow-lg hover:scale-110 transition-transform duration-300"
                        >
                          <img
                            src={webglobe.src}
                            alt="Website"
                            class="w-5 h-5"
                          />
                        </a>
                      )}
                    </div>
                  </div>

                  <div class="p-4">
                    <h6 class="text-base text-center font-semibold text-gray-900 mb-2">
                      {member.name}
                    </h6>
                    <p class="text-base text-center text-gray-600">
                      {member.position}
                    </p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </section>

      <!-- Associate Faculty Section -->
      <section id="associate-faculty" class="py-12 sm:py-16 md:py-20">
        <div class="container mx-auto px-4">
          <h3 class="text-3xl font-bold mb-8">Associate Faculty</h3>
          <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6 sm:gap-8"
          >
            {
              associateFaculty.map((faculty) => (
                <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
                  <div class="relative">
                    <img
                      src={faculty.image.src}
                      alt={faculty.name}
                      class="w-full h-64 object-cover"
                    />

                    {faculty.website && (
                      <a
                        href={faculty.website}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="absolute bottom-4 right-4 bg-white p-2 rounded-full shadow-lg hover:scale-110 transition-transform duration-300"
                      >
                        <img src={webglobe.src} alt="Website" class="w-5 h-5" />
                      </a>
                    )}
                  </div>
                  <div class="p-4">
                    <h6 class="text-base text-center font-semibold text-gray-900 mb-2">
                      {faculty.name}
                    </h6>
                    <p class="text-base text-center text-gray-600">
                      {faculty.position}
                    </p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </section>

      <!-- Affiliate Fellows Section -->
      <section
        id="affiliate-fellows"
        class="py-12 sm:py-16 md:py-20 bg-gray-50"
      >
        <div class="container mx-auto px-4">
          <h3 class="text-3xl sm:text-3xl md:text-4xl font-bold mb-8">
            Affiliate Fellows
          </h3>
          <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6 sm:gap-8"
          >
            {
              affiliateFellows.map((fellow) => (
                <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
                  <div class="relative">
                    <img
                      src={fellow.image.src}
                      alt={fellow.name}
                      class="w-full h-64 sm:h-56 md:h-64 object-cover"
                    />
                    {fellow.website && (
                      <a
                        href={fellow.website}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="absolute bottom-4 right-4 bg-white p-2 rounded-full shadow-lg hover:scale-110 transition-transform duration-300"
                      >
                        <img src={webglobe.src} alt="Website" class="w-6 h-6" />
                      </a>
                    )}
                  </div>
                  <div class="p-4">
                    <h6 class="text-base text-center font-semibold text-gray-900 mb-2">
                      {fellow.name}
                    </h6>
                    <p class="text-base text-center text-gray-600">
                      {fellow.position}
                      <span class="text-sm ">{fellow.email}</span>
                    </p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </section>
      <!-- Advisors Section -->
      <section id="advisors" class="py-12 sm:py-16 md:py-20">
        <div class="container mx-auto px-4">
          <h3 class="text-3xl font-bold mb-12 text-gray-900">Advisors</h3>
          <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6 sm:gap-8"
          >
            {
              advisors.map((advisor) => (
                <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">
                  <div class="relative aspect-square">
                    <img
                      src={advisor.image.src}
                      alt={advisor.name}
                      class="w-full h-full object-cover"
                    />
                    <a
                      href={advisor.website}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="absolute bottom-3 right-3 bg-white p-2 rounded-full shadow-md hover:scale-110 transition-transform duration-200"
                    >
                      <img src={webglobe.src} alt="Website" class="w-4 h-4" />
                    </a>
                  </div>
                  <div class="p-4">
                    <h6 class="text-base text-center font-semibold text-gray-900 mb-2">
                      {advisor.name}
                    </h6>
                    <p class="text-base text-center text-gray-600">
                      {advisor.position}
                    </p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </section>

      <Newletter />
      <Footer />
    </section>
  </main>

  <style>
    html {
      scroll-behavior: smooth;
    }

    /* Enhanced scroll padding to account for sticky navigation */
    section[id] {
      scroll-margin-top: 100px;
    }

    /* Active navigation state */
    nav a:hover {
      transform: translateY(-1px);
    }
  </style>

  <script>
    // Add active state management for navigation links
    document.addEventListener("DOMContentLoaded", function () {
      const navLinks = document.querySelectorAll('nav a[href^="#"]');
      const sections = document.querySelectorAll("section[id]");

      // Function to update active navigation link
      function updateActiveNav() {
        const scrollPos = window.scrollY + 120; // Account for sticky nav height

        sections.forEach((section) => {
          const htmlSection = section as HTMLElement;
          const sectionTop = htmlSection.offsetTop;
          const sectionHeight = htmlSection.offsetHeight;
          const sectionId = section.getAttribute("id");

          if (
            scrollPos >= sectionTop &&
            scrollPos < sectionTop + sectionHeight
          ) {
            navLinks.forEach((link) => {
              link.classList.remove("text-green-800", "bg-green-50");
              if (link.getAttribute("href") === `#${sectionId}`) {
                link.classList.add("text-green-800", "bg-green-50");
              }
            });
          }
        });
      }

      // Add smooth scrolling and active state on click
      navLinks.forEach((link) => {
        link.addEventListener("click", (e) => {
          e.preventDefault();
          const targetId = (link.getAttribute("href") ?? "").substring(1);
          const targetSection = document.getElementById(targetId);

          if (targetSection) {
            const offsetTop = targetSection.offsetTop - 100; // Account for sticky nav
            window.scrollTo({
              top: offsetTop,
              behavior: "smooth",
            });
          }
        });
      });

      // Update active nav on scroll
      window.addEventListener("scroll", updateActiveNav);
      updateActiveNav(); // Initial call
    });
  </script>
</Layout>
