---
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "../components/Footer.astro";
import andrew from '../assets/Talk_Andrew Forrest Talk 2.svg';
import man from '../assets/medium-shot-man-with-paperwork.svg';
import female from '../assets/female-student.svg';
import cert1 from '../assets/front-view-woman-holding-tablet-hand-looking-aside 1 (1).svg';
import Santosh from '../assets/Santosh Photos 1.svg';
import sstownhall from '../assets/SS Townhall  1.svg';
import "../styles/global.css";
---
<Layout>
<Navbar />
            <div>
                <section class="relative">
                    <img src={andrew.src} alt="Hero Image" class="w-full object-cover pt-[67px] h-96" />
                </section>
                <!-- <Navbar> -->
            <section class="px-4 py-10 max-w-7xl mx-auto">
                <!-- Tabs -->
                <div class="flex justify-center items-center space-x-4 mb-8 text-green-500 font-medium">
                <span>Certificate Courses</span>
                <span>|</span>
                <span>Degree Programs</span>
                </div>
            
                <!-- Certificate Courses -->
                <h2 class="text-2xl font-bold mb-6">Certificate Courses</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-12">
                <!-- Left image -->
                <img src={cert1.src} alt="Certificate Course" class="rounded-lg w-full h-100" />
            
                <!-- Right text -->
                <div class="flex flex-col justify-center">
                    <p class="text-gray-700 mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis...
                    </p>
                    <button class="bg-[#3DAA6F] text-white px-6 py-2 rounded hover:bg-green-600 transition w-fit">View Brochure</button>
                </div>
                </div>
            
                <!-- Additional Certificate Cards -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-16">
                <div class="relative">
                    <img src={man.src} alt="Course 2" class="rounded-md w-full h-100" />
                    <div class="absolute bottom-0 left-0 right-0 text-white p-4 rounded-b-lg text-2xl">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </div>
                <div class="relative">
                    <img src={female.src} alt="Course 3" class="rounded-md w-full h-100" />
                    <div class="absolute bottom-0 left-0 right-0 text-white p-4 rounded-b-lg text-2xl">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </div>
                </div>
            
                <!-- Degree Programs -->
                <h2 class="text-2xl font-bold mb-6">Degree Programs</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mb-16">
                <div class="relative">
                    <img src={Santosh.src} alt="Degree 1" class="rounded-lg w-full h-100 object-cover" />
                    <div class="absolute bottom-0 left-0 right-0 text-white p-4 rounded-b-lg text-2xl">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </div>
                <div class="relative">
                    <img src={sstownhall.src} alt="Degree 2" class="rounded-lg w-full h-100 object-cover" />
                    <div class="absolute bottom-0 left-0 right-0 text-white p-4 rounded-b-lg text-2xl">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </div>
                </div>
            </section>  
            </div>
<Footer>
</Layout>