---
import organicfood from  "../assets/Organic Food.svg";
import Flash from "../assets/Flash On.svg";
import DogHouse from "../assets/Dog House.svg";
import UserAcc from '../assets/User Account.svg';
import EventsImg from '../assets/businessperson-s-hand-holding-planet-earth-icon 1.svg';
import exploreImg from '../assets/Talk_Andrew Forrest Talk 1.svg';
import ecofriendly from '../assets/eco-friendly-wind-power-project-layout-desk 1.svg';
import profkamakoti from '../assets/prof-kamakoti.png';
import rajnishkumar from '../assets/Rajnish-Kumarv2 1.svg';
import homesvg from '../assets/Screenshot 2025-04-02 074919 1.svg';
---
<div class="">
    <div class="relative">
        <img src={homesvg.src} class="w-full pt-[67px]"/>
        <div class="absolute text-white font-semibold w-full top-55 right-[370px] text-center mt-[250px]">
                  <span class="font-semibold text-3xl">Lorem ipsum dolor sit amet, consectetuer</span><br>adipiscing elit. Aenean commodo ligula eget dolor.
        </div>
        <div class="top-20 absolute mt-10 left-[900px] border w-90">
                cksjc
        </div>
    </div>
    <div class="bg-[#032A03] mt-10">
        <div class="flex justify-start items-center text-white p-3 text-xl ">Themes</div>
        <div class="mx-5 mb-5 pb-5">
              <div class="grid grid-cols-4 mt-2">
                    <div class="border px-2">
                        <div class="flex justify-center item-center text-white"><img src={organicfood.src} /></div>
                        <div class="text-white flex justify-start items-center ps-2 mt-3 font-semibold">Climate Change Impacts and Adaptation: Scenario Modeling</div>
                        <div class="text-white text-sm ps-2 mt-4 pb-2">Explore climate change impacts and adaptation strategies from an engineering perspective, utilizing advanced modeling techniques to assess long-term consequences and inform sustainable decision-making.</div>
                    </div>
                    <div class="border px-2">
                      <div class="flex justify-center item-center text-white"><img src={Flash.src} class="bg-white p-2 rounded-3xl mt-2"/></div>
                      <div class="text-white flex justify-start items-center ps-2 mt-3 font-semibold">Ubiquitous Decarbonization (Materials and Energy)</div>
                      <div class="text-white text-sm ps-2 mt-4 pb-2">Comprehensive decarbonization efforts spanning renewable energy, sustainable materials, and industrial processes, drawing from collaborative research across various departments, to mitigate carbon emissions and promote sustainable industry practices.</div>
                    </div>
                    <div class="border px-2">
                      <div class="flex justify-center item-center text-white"><img src={DogHouse.src} class="bg-white p-2 rounded-3xl mt-2 w-12"/></div>
                      <div class="text-white flex justify-start items-center ps-2 mt-3 font-semibold">Sustainable Human Settlements and the F-E-W Nexus</div>
                      <div class="text-white text-sm ps-2 mt-4">Sustainable Human Settlements and the F-E-W Nexus</div>
                    </div>
                    <div class="border px-2">
                      <div class="flex justify-center item-center text-white"><img src={UserAcc.src} class="bg-white p-2 rounded-3xl mt-2 w-12"/></div>
                      <div class="text-white flex justify-start items-center ps-2 mt-3 font-semibold">Behavioural Change for Sustainability</div>
                      <div class="text-white text-sm ps-2 mt-10 pb-2">Explore the spectrum of human behavior across various facets of life, drive sustainable transformation through policy dialogues, interdisciplinary studies, and vibrant outreach, envisioning a world where sustainable living seamlessly integrates into our daily existence.</div>
                    </div>
              </div>
        </div>
    </div>   
    <div class="mt-5 mb-3">
        <div class="grid grid-cols-2 gap-3 item-center mx-5">
                <div class="">
                      <div class="text-xl font-semibold">Events</div>
                      <div class="mt-5">Join us for insightful events that drive meaningful conversations on sustainability. From expert-led seminars to hands-on workshops, our events foster innovation, collaboration, and real-world impact. Stay updated and be part of the change!</div>
                      <div class="bottom-0  left-[550px] mt-4">
                            <button class="bg-[#3DAA6F] px-3 text-white rounded-lg py-2">View Events</button>
                      </div>
                </div>
                <div class="">
                      <img src={EventsImg.src} class="rounded-lg"/>
                </div>
        </div>
    </div> 
    <div class="bg-[#032A03]">
          <div class="grid grid-cols-2 gap-5 py-5 mx-5">
                <div>
                        <img src={exploreImg.src} />
                </div>
                <div class="text-white">
                      <div class="text-2xl mb-2 font-semibold">Explore Sustainability Programs</div>
                      <div class="mt-5">As a new interdisciplinary entity in one of India's oldest technological institutions, the School of Sustainability opens doors to the field of Sustainability to a wide array of populations including students, industries, policymakers, and public in India. Harnessing the best pedagogical practices implemented in interdisciplinary curricula worldwide, School of Sustainability is creating new modes of knowledge transfer in Sustainability Science and Technology. The outcome is innovative education programs such as Minor in Sustainability and International Master's Programs for those who are about to enter the industrial workforce while the Executive Education Certificate Programs for those have spent years in Industry Landscape and looking to build confidence and competence in actioning</div>
                      <div class="mt-4">
                          <div class="flex justify-end items-center"><button class="border border-[#3DAA6F] rounded-xl px-3">Certificate courses</button></div>
                          <div class="flex justify-end items-center"><button class="border border-[#3DAA6F] rounded-xl px-3 mt-2">Degree programs</button></div>
                      </div>
                </div>
          </div>
    </div>
    <div class="" id="research">
          <div class="grid grid-cols-2 gap-5 py-5 mx-5">
                  <div> 
                        <img src={ecofriendly.src} />
                  </div>
                  <div class="">
                        <div class="text-2xl mb-2 font-semibold">Reseach</div>
                        <div class="mt-5">At the School of Sustainability, research is at the heart of every initiative. Our projects address pressing global challenges through interdisciplinary collaboration. We work closely with affiliated research centers to expand our reach and impact. These centers bring together faculty, students, and partners from across domains. From sustainable materials to climate action, innovation drives our efforts. Explore the articles showcasing breakthroughs, case studies, and field insights.Together, we build a foundation for a more resilient and sustainable future.</div>
                        <div class="mt-4">
                            <div class="flex justify-end items-center"><button class="border border-[#3DAA6F] rounded-xl px-3 text-[#3DAA6F]">Projects</button></div>
                            <div class="flex justify-end items-center"><button class="border border-[#3DAA6F] rounded-xl px-3 text-[#3DAA6F] mt-2">Affliated centers</button></div>
                            <div class="flex justify-end items-center"><button class="border border-[#3DAA6F] rounded-xl px-3 text-[#3DAA6F] mt-2">Marketing</button></div>
                        </div>
                   </div>
          </div>
    </div>
    <div class="bg-[#F2F2F2] py-5">
        <div class="grid grid-cols-2 gap-10 mx-5">
              <div class="flex justify-start items-center">
                  <img src={profkamakoti.src} class="w-[50%]"/>
              </div>
              <div>
                  <div class="text-2xl font-semibold">From The Director</div>
                  <div class="pt-2">- Prof. V. Kamakoti</div>
                  <div class="pt-3">"Sustainability plays a pivotal role in our National Education Policy. Every domain of engineering and technology is increasingly aligning with one or more of the United Nations' seventeen Sustainable Development Goals. This convergence is accelerating, as seen in the numerous G20 events held in India in 2023. In this light, the School of Sustainability reflects IIT Madras’ strong commitment to capacity building and impactful action in this vital area."</div>
              </div>
        </div>
    </div>
    <div class="bg-[#F2F2F2] py-5 mt-5">
      <div class="grid grid-cols-2 gap-10 mx-5">
            <div>
                <div class="text-2xl font-semibold">From The Head of the School</div>
                <div class="pt-2">- Prof. Rajnish Kumar</div>
                <div class="pt-3">“The School of Sustainability at IIT Madras will concentrate on three key areas: (I) transforming IIT Madras into a NetZero, sustainable campus; (II) embedding sustainability into the academic curriculum; and (III) unifying government and industry-funded research aligned with the UN Sustainable Development Goals. Through science, practical implementation, and policy interventions, the School aims to create a comprehensive impact towards achieving a NetZero India.”</div>
            </div>
            <div class="flex justify-end items-center">
              <img src={rajnishkumar.src} class="w-[45%]"/>
          </div>
      </div>
    </div>
    <div class="mt-2 " id="contact-us">
          <div class="text-xl px-5 font-semibold">Contact Us</div>
          <div class="flex gap-5 px-5">
                <div>G Link: </div>
                <div>Lorem ispum dolar sit ametm consectetuer elit</div>
          </div>
          <div class="flex gap-5 px-5">
              <div class="font-semibold">Newsletter</div>
              <input type="text" placeholder="Name"/>
              <input type="text" placeholder="Email"/>
              <button class="bg-[#032A03] px-4 rounded-lg text-white">SUBSCRIBE</button>
          </div>
    </div>
</div>